# Virtual Environment
venv/
env/

# Database
*.db
*.sqlite
*.sqlite3
instance/

# User-uploaded news photos stay on the server and are not overwritten by deploys
static/uploads/news/*
!static/uploads/news/.gitkeep

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
